
header{
    background-color: #ff82b6;
    height: 7vh;
    width: 100%;
    padding: auto;
    margin: 3px;
    align-items: center;
  }
  #butmenu{
    height: 70%;
  }
footer{
    background-color:pink;
    height: 8vh;
    width: 100%;
}
section{
    display: flex;
    height: max-content;
}
menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 p{ 
    font-weight: 200;
 }
 body{
    margin: 0;
    background-color: pink;
    background-size: 100% 100%;
    height: max-content;
 }
 nav{
    justify-content: space-between;

 }
 html {
    scroll-behavior: smooth;
}
div{
    height: 100%;
}

a {
    text-decoration: none;
}
ul{
    list-style: none;
}
header, ul{
    display: flex;
    flex-direction: row;
}
p:hover{
    opacity: 0.9;
    transition: opacity 0.3s ease; 
}

li{
    padding: 0 20px;
}
.ul1{
    display: none;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 2em;
}
img{
    margin: 20px;
}
h4,h2{
    margin: 20px;
}
button{
    height: 30px;
    width: 30px;
    margin: 15px;
}
#mod{
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: gainsboro;
        opacity: 0.5;
    
}
object{
    width: 80%;
    height: 80%;
    margin-bottom: 10px;
}
object,#btn1{
    position:absolute;
    z-index: 1;
    overflow-y:auto;
}
#diz123{    
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    right: 0px;
    left: 0px;
    border-radius: 5px;
    padding: 5px;
    overflow-y:auto;
    flex-direction: column;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
#btn1{
    width: 5%;
    height: 5%;
    top: 0;
    right: 0%;

}
@media screen and (max-width:440px) {
    body{
        width: 100%;
    }
    object{
        display: flex;
        object-fit: cover;
    }
    #diz123{
        display: flex;
        z-index: 2;
    }
    section{
        flex-direction: column;
    }
}
